@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sora-font {
  font-family: "Sora", sans-serif;
}
.active-btn{
  color:white;
  background-color:#9538E2;

}
.active-tab {
  color:#9538E2;
  background-color: white;
  
}
.active {
  text-decoration: underline;
  font-weight: 800;
}